<body class="hero-anime">	

	<div class="navigation-wrap bg-light start-header start-style">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-md navbar-light">
					
						<a class="navbar-brand" href="#" target="_blank"><mat-icon style="font-size: 50px; color: lightcoral;">foundation</mat-icon></a>	
						
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto py-4 py-md-0">
								<!-- <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
									<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<a class="dropdown-item" href="#">Something else here</a>
										<a class="dropdown-item" href="#">Another action</a>
									</div> 
                                </li> -->
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="#">Home</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="#about">About us</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="#services">services</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Our Team</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#team">Rohit Abhishek</a>
										<a class="dropdown-item" href="#team">Rohan Verma</a>
										<a class="dropdown-item" href="#team">Prateek Vihan</a>
										
                                      <!--   <a class="dropdown-item" href="#team">Bikash Shaw</a>
                                        <a class="dropdown-item" href="#team">Sylona Mohapatra</a> -->
									</div>
								</li>
								
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="#contact">Contact</a>
								</li>
							</ul>
						</div>
						
					</nav>		
				</div>
			</div>
		</div>
	</div>
	<div class="section full-height">
		<div class="absolute-center">
			<div class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">

						
                <h1><span>S</span><span>w</span><span>a</span><span>r</span><span>a</span><span></span><span></span><span></span><span></span> <br>
                    
				<span>F</span><span>o</span><span>u</span><span>n</span><span>d</span><span>a</span><span>t</span><span>i</span><span>o</span><span>n</span></h1>
				<div style="display: flex;justify-content: space-between;">
				<img src="https://blush.ly/BDfIiFWG3/p" height="200">
			<img src="https://blush.ly/I2k4TFU89/p" height="200">
				</div>
			
				<p>change to dark theme</p>	
						</div>	
					</div>		
				</div>		
			</div>

			
			<div class="section mt-5">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div id="switch">
								<div id="circle"></div>
							</div>

						
						</div>	
					</div>		
				</div>			
			</div>
		</div>
	</div>
	<div class="my-5 py-5">
		
	</div>
  
<!-- Link to page
================================================== -->


</body>