<body class="hero-anime">
<div class="section full-height">
	<div class="absolute-center">
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-12">

					
			<h1><span>A</span>s<span>t</span>r<span>o</span>l<span>o</span>g<span>y<span style="margin-left: 10px;"> </span>R</span>e<span>v</span>e<span>l</span><span>s</span>  <br>
			<span>T</span>h<span>e</span ><span style="margin-left: 10px;"></span><span>w</span>i<span>l</span>l<span  style="margin-left: 10px;"><span ></span>o</span>f<span  style="margin-left: 10px;"></span>G<span>o</span>d<span></span></h1>
			<div style="display: flex;justify-content: space-around; flex-wrap: wrap;">
			<img src="../../assets/astro Symbol.svg" height="200">
		<img class="hide"src="../../assets/gaust.svg" height="200">
			</div>

			<p>change to dark theme</p>	
					</div>	
				</div>		
			</div>		
		</div>
		<div class="section mt-5">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div id="switch">
							<div id="circle"></div>
						</div>
					</div>	
				</div>		
			</div>			
		</div>
	</div>
</div>

<div class="my-5 py-5">
	<div *ngFor="let data of feed">
		<h1>Name:{{data.Name}}</h1>
		<h1>Feedback:{{data.Feedback}}</h1>
	</div>
</div>
</body>
